body{
    background-color: whitesmoke;

}
iframe{
    height: 900px;
    width:100%;
}
.travel_mainDiv{
border: 1px solid lightgrey;
text-align: center;
}
.travel_mainDiv img{
width: 100%;
}
.travel_mainDiv h5, .travel_mainDiv p{
margin: 20px;
}